*{
    margin: 0;
    padding: 0;
}
:root{
    --darkGreen: #045256;
    --greyishGreen: #9ab8ba;
    --whitishGreen: #ddf7f8;
    --blackishGreen: #0b1516;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Popins',sans-serif;
    font-size: 1.2rem;
    line-height: 1;
    background-color: #eef2f2;
    box-sizing: border-box;
}
li{
    list-style: none;
}
.container{
    margin: 5rem 0 0;
}
.heading{
    color: var(--darkGreen);
    font-weight: bold;
}
.inputs{
    margin: 55px 0 10px;
    display: flex;
    gap: 2rem;
    max-width: 45rem;
}
.inputs input{
    max-width: 20rem;
    width: 400px;
    padding: 3px;
    height: 2rem;
    border: var(--darkGreen) 2px solid;
    border-radius: 10px;
    box-shadow: 8px 8px 10px rgba(9, 68, 61, 0.2);
    outline: var(--darkGreen);
    font-size: 1rem;
}
.inputs button{
    width: 5rem;
    height: 2.5rem;
    text-align: center;
    border: none;
    background-color: var(--darkGreen);
    border-radius: 6px;
    color: var(--whitishGreen);
    box-shadow: 8px 8px 10px rgba(9, 68, 61, 0.2);
    font-weight: 500;
    font-size: 1.2rem;
}
.inputs button:hover{
    background-color: var(--whitishGreen);
    color: var(--darkGreen);
    border: var(--darkGreen) solid 2px;
    transition: .5s ease-in-out;
}
.books-section{
    margin-top: 20px;
    padding: 5px 0;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.books-section ul{
    width: 100%;
}
.book-container{
    display: flex;
    width: 100%;
    margin: 0.1rem;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}
.book-container li{
    flex: 1;
}
.book{
    background-color: white;
    padding: .5em;
}
.checkButton,.delete-button{
    background-color: #0b1516;
    border: none;
    color: #ddf7f8;
    padding: .8rem;
    font-size: .9rem;
    cursor: pointer;
    font-weight: bold;
}
.delete-button{
    background-color: #045256;
    color: #ddf7f8;
}
.checkButton{
    background-color: #9ab8ba;
    color: #045256;
}
.completed{
    opacity: .3;
    transition: all .8s ease-in-out;
}
@media (max-width:50em) {
    .heading{
        font-size: 2rem;

    }
    .inputs{
        width: 15em;
        gap: 1rem;
    }
    .inputs input{
        width: 15em;
    }
    .inputs button{
        padding: .5em;
    }
    .books-section ul{
    gap: 2rem;
    }
    .book-container li{
        width: 80%;
    }
}