*{
    margin: 0;
    padding: 0;
}
:root{
    --darkGreen: #045256;
    --greyishGreen: #9ab8ba;
    --whitishGreen: #ddf7f8;
    --blackishGreen: #0b1516;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Popins',sans-serif;
    font-size: 1.2rem;
    line-height: 1;
    background-color: #eef2f2;
    box-sizing: border-box;
}
li{
    list-style: none;
}
.heading{
    color: var(--darkGreen);
    font-weight: bold;
}
.inputs{
    padding: 25px 0;
    display: flex;
    gap: 2rem;
    max-width: 15rem;
    width: 100%;
}
.inputs input{
    max-width: 20rem;
    width: 100%;
    height: 2rem;
    border: var(--darkGreen) 2px solid;
    border-radius: 10px;
    box-shadow: 8px 8px 10px rgba(9, 68, 61, 0.2);
    outline: var(--darkGreen);
}
.inputs button{
    width: 3rem;
    height: 2rem;
    border: none;
    background-color: var(--darkGreen);
    border-radius: 6px;
    color: var(--whitishGreen);
    box-shadow: 8px 8px 10px rgba(9, 68, 61, 0.2);
    font-size: 1.2rem;
    font-weight: 500;
}
.inputs button:hover{
    background-color: var(--whitishGreen);
    color: var(--darkGreen);
    border: var(--darkGreen) solid 2px;
    transition: 300ms ease-in-out;
}
.books-section{
    margin-top: 20px;
    padding: 5px 0;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.books-section ul{
    width: 100%;
}
.book-container{
    display: flex;
    width: 100%;
    margin: 0.1rem;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}
.book-container li{
    flex: 1;
}
.book{
    background-color: white;
    padding: .5em;
}
.checkButton,.delete-button{
    background-color: #0b1516;
    border: none;
    color: #ddf7f8;
    padding: .8rem;
    font-size: .9rem;
    cursor: pointer;
}
.delete-button{
    background-color: #045256;
    color: #ddf7f8;
}
.checkButton{
    background-color: #9ab8ba;
    color: #045256;
}